<div class="navigationbar">
 
        <img src="~/Content/banner.jpg" id="banner"/>
    <button type="button" id="searchbtn" onclick="searchAppear()" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-search"></span>
    </button>

        <div class="searchbar">
                <input type="text" style="display:none" id="searchtext" class="form-control" placeholder="Search for...">
        </div><!-- /.col-lg-6 -->
       
        <div class="dropdownclass">
            <button type="button" id="menubtn" class="btn btn-info btn-lg"   data-toggle="dropdown" >
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>

            <ul class="dropdown-menu dropdown-menu-right drop" id="dropdownMenu1">
                <li><a href='@Url.Action("Index", "Home")'>Profile</a></li>
                <li><a href="#">Top</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
            </ul>
          @*  <text>(<a href="javascript:document.getElementById('logoutForm').submit()">@Resources.Common.LogOff</a>)</text>*@
        </div>
</div>
