body {
    background-image: url(blurbg.jpg);
    background-repeat: no-repeat;
    background-size: 1366px 768px;
    min-width: 1366px;
    min-height: 768px;
    background-position: center;
   background-attachment: fixed;
    
}

#titleheader {
    font-family: "Sigmar One";
    color: white;
    text-align: center;
    margin-top: 15%;
    margin-left: 0%;
}

#emailfield {
    border: none;
    border-radius: 0;
    font-family: "Raleway";
    margin-left: 45%;
    margin-right: 45%;
    width: 350px;
    color: #862651;
    font-weight: bold;
        margin-bottom:0


}
.text-danger {

    text-align: center;
    color: #f3cfb3;
    font-family: "Raleway";
  margin-right: 2%
}
.text-danger ul {
   
   list-style-type: none;
}
#passwordfield {
border: none;
    border-radius: 0;
    font-family: "Raleway";
    margin-left: 45%;
    margin-right: 45%;
    width: 350px;
    color: #862651;
    font-weight: bold;
        margin-top:0
}


.form-control::-webkit-input-placeholder {
    color: #d986ba;
    font-weight: normal
    
    
    
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f3cfb3 inset;
    -webkit-text-fill-color: #5e2751 !important;
    font-weight: bold;

}






.btnregister:hover {
    background-color: #e0523d;
    
}

.btnregister {
    border: none;
    border-radius: 0;
    background-color:  #891538;
    font-family: "Raleway";
    color: white;
    font-weight: bold;
    width: 350px;
    margin-left: 24.5%
}